/* 모달 오버레이 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* 모달 컨텐츠 */
  .modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
  }
  
  /* 버튼 스타일 */
  .modal-buttons {
    margin-top: 20px;
  }
  
  .modal-confirm-button,
  .modal-cancel-button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
  
  .modal-confirm-button {
    background-color: var(--color-dark-1);
    color: var(--color-dark-main-text);
    margin-right: 10px;
  }

  body.light .modal-confirm-button {
    background-color: var(--color-light-1);
    color: var(--color-light-main-text);
  }
  
  .modal-cancel-button {

    background-color: var(--color-main-point);
    color: var(--color-dark-main-text);
  }