/* 헤더 전체 스타일 */
header {
    transition: all 0.5s;
    position: fixed;
    /* 상단 고정 */
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    /* 헤더 높이 고정 */
    padding: 0 30px;
    border-radius: 0 0 30px 30px;
    /* 오른쪽 아래 둥글게 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    /* 다른 요소보다 위에 배치 */
    box-sizing: border-box;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
  }

#search {
    border-radius: 25px;
    /* 둥글게 만들기 */
    
    /* 기본 테두리 */
    padding: 10px 50px 10px 20px;
    /* 패딩 추가 */
    outline: none;
}

#search:focus {
    border-color: var(--color-light-1);
    /* 포커스 시 테두리 색상 변경 */
    box-shadow: none;
    /* 포커스 시 그림자 제거 */
}

.search-icon {
    position: absolute;
    right: 10px;
    width: 20px; /* 아이콘 크기 */
    height: 20px; /* 아이콘 크기 */
    cursor: pointer;
}

body.dark #search {
    background-color: var(--color-dark-1);
    border: 1px solid var(--color-dark-3);
    color: var(--color-dark-text);
}

body.light .search-icon {
    filter: invert(0%) !important; 
}

body.light #search {
    background-color: var(--color-light-1);
    border: 1px solid var(--color-light-3);
    color: var(--color-light-text);
}

.member-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.member-info .member-info-img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.member-info span{
    font-size: 12px;
}

/* 전체 페이지의 상단 패딩 추가 */
body {
    padding-top: 80px;
    /* 헤더 높이만큼 밀어줌 */
    margin: 0;
    /* 혹시 기본 마진이 들어가 있는 경우 방지 */
}

/* 로고 스타일 */
.logo .logo-con {
    display: flex;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}

.logo .logo-con #logo {
    object-fit: cover;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    transition: all 0.5s;
}

.logo .logo-con span {
    box-sizing: border-box;
    font-size: 24px;
    transition: all 0.5s;
}

/* 네비게이션 바 */
header .nav {
    display: flex;
    gap: 20px;
    flex-grow: 1;
    /* 공간이 부족할 경우 줄어들지 않도록 설정 */
    box-sizing: border-box;
}

/* 네비게이션 링크 */
header .nav .nav-link {
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

/* 바 */
header .bar {
    justify-content: flex-end;
    /* 네비게이션을 오른쪽으로 정렬 */
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    align-items: center;
}

header .bar>* {
    transition: all 0.5s;
}



.toggle-button>img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
