.index .index-con {
  margin-top: -80px; 
}


.index .index-con .title {
  position: relative;
  width: 100%;
  height: 600px; /* 원하는 높이로 조정 */
  overflow: hidden; /* 이미지를 넘치지 않도록 */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-dark-text);
}

.index .index-con .title img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px; /* 부모 높이와 동일 */
  object-fit: cover; /* 이미지가 영역에 맞게 잘림/확대 */
  filter: brightness(30%); /* 어둡게 보이게 조정 */
  z-index: 0; /* 뒤에 배치 */
}

.index .index-con .title .title-con{
  position: relative;
  z-index: 1; /* 이미지보다 위에 텍스트를 배치 */
  /* 가운데 정렬이나 여백을 주고 싶다면 추가 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 40px; /* 좌우 여백 */
  color: var(--color-dark-text);
}

.index .index-con .title .title-con > * {
  color: var(--color-dark-text);
}

.index .index-con .main-content{
  box-sizing: border-box;
  padding: 0 100px;
}

body.light .index .index-con .main-content > h3{
  color: var(--color-dark-text);
}

.index .index-con .main-content .popular-movie > ul {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 500px;
  gap: 2vw;
  grid-auto-columns: 50px;
  grid-auto-flow: column;
  overflow-y: hidden;
  overflow-x: auto;
}

.index .index-con .main-content .popular-movie > ul > li{
  display: inline-grid;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.7s;
  transform-style: preserve-3d;
}

.index .index-con .main-content .popular-movie > ul > li > * {
  backface-visibility: hidden;
  grid-area: 1 / 1 / 1 / 1;
}

.index .index-con .main-content .popular-movie > ul > li:hover {
  transform: perspective(800px) rotateY(180deg);
}

.index .index-con .main-content .popular-movie > ul > li .item-front span{
  position: absolute;
  bottom: 0%;
  z-index: 2;
  font-size: 50px;
  font-weight: bold;
  color: var(--color-dark-text);
  font-style: italic;
}

.index .index-con .main-content .popular-movie > ul > li > div.item-back {
  transform: perspective(800px) rotateY(180deg);
}

.index .index-con .main-content .popular-movie > ul > li > div {
  width: 100%;
  position: relative;
}

.index .index-con .main-content .popular-movie > ul > li > div > img {
  display: flex;
  box-sizing: border-box;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  z-index: 1;
  filter: brightness(70%);
}

.index .index-con .main-content .popular-movie > ul > li > div.item-back > img {
  filter: brightness(20%);
}

.index .index-con .main-content .popular-movie > ul > li > div > .boxOfficeDetail {
  position: absolute;
  top: 0%;
  z-index: 2;
} 

.index .index-con .main-content .popular-movie > ul > li > div > .boxOfficeDetail > h4 {
  color:var(--color-dark-text);
}

.index .index-con .main-content .popular-movie > ul > li > div > .boxOfficeDetail > * {
  z-index: 3;
  filter: none;
  color: var(--color-light-text);
  font-weight: bold;
  font-size: 20px;
}

body.light > nav a{
  color: var(--color-dark-text);
}
