@import url('../css/MainContent.css');

.content .main .main-con .leftBar .leftBar-con {
  position: relative;
}

.share-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;   
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
 }

.movieDetail-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  flex: 3 0 500px; /* 사이드바의 최소 너비 설정 */
  width: 75%;
  box-shadow: 0 4px 15px var(--color-shadow);
  transition: box-shadow 0.5s ease;
  border-radius: 0 20px 20px 0;
  align-items: center;
  justify-content: center;
}

body.dark .movieDetail-content {
  background-color: var(--color-dark-3);
}


.movieDetail-content>.video-container {
  width: 100%;
  max-width: 800px;
}

.movieDetail-content>ul {
  display: grid;
  gap: 10px;
  overflow-x: auto; /* 가로 스크롤 가능하도록 */
  overflow-y: hidden; /* 세로 스크롤 숨김 */
  box-sizing: border-box;
  padding: 10px 0;
  margin: 0;
  width: 100%;
  max-width: 100%; /* 부모 너비에 맞추기 */
  position: relative;
}

.movieDetail-content>ul>li {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 30px;
}

.movieDetail-content>ul>li>img {
  width: 100%;
  max-width: 300px;
  min-width: 300px;
  height: auto;
  position: static;
  object-fit: cover;
  box-sizing: border-box;
  transition: all 0.5s ease;
  transform-origin: center center;
  cursor: pointer;
}

.movieDetail-content>ul>li>img:hover {
  transform: scale(1.03);
}

.movieDetail-content>ul>li>img.selected {
  border: 3px solid var(--color-red);
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* 기본 별 스타일 */
.star {
  font-size: 30px;
  color: #d3d3d3; /* 기본 색: 회색 */
  cursor: pointer;
  transition: color 0.3s ease;
}

/* 클릭한 별의 색상 변경 */
.star.selected {
  color: #f39c12; /* 별을 선택했을 때 색상: 노란색 */
}

/* 별에 마우스 오버시 색상 변경 */
.star:hover {
  color: #f39c12;
}

.movieDetailReview-content{
  width: 100%;

}
.movieReviewInsert{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Box */
.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
}

/* Modal Buttons */
.modal-buttons {
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

.modal-confirm-button {
  background-color: var(--color-green);
  color: white;
  border: none;
  border-radius: 4px;
}

.modal-cancel-button {
  background-color: var(--color-red);
  color: white;
  border: none;
  border-radius: 4px;
}
