.content {
  display: flex;
  padding: 0 80px;
  box-sizing: border-box;
}

.content .movieDetail {
  display: flex;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 4px 15px var(--color-shadow);
  /* 바닥 그림자 */
  transition: all 0.3s ease;
  /* 그림자 효과에 부드러운 전환 */
}

body.dark .content .movieDetail { 
  background-color: var(--color-dark-2);
}

body.light .content .movieDetail { 
  background-color: var(--color-light-2);
}

.content .movieDetail .movieDetail-con {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 4px 15px var(--color-shadow);
  /* 바닥 그림자 */
  transition: box-shadow 0.3s ease;
  /* 그림자 효과에 부드러운 전환 */
}

body.dark .content .movieDetail .movieDetail-con {
  background-color: var(--color-dark-3);
}

body.light .content .movieDetail .movieDetail-con {
  background-color: var(--color-light-3);
}

.content .movieDetail .movieDetail-con .leftBar {
  flex: 1 0 150px; /* 사이드바의 최소 너비 설정 */
  display: flex;
  width: 25%;
  box-sizing: border-box;
}

.content .movieDetail .movieDetail-con .leftBar .leftBar-con {
  display: flex;
  flex-direction: column;
}

.content .movieDetail .movieDetail-con .leftBar .leftBar-con img {
  display: block;
  width: 100%;
}


.content .movieDetail .movieDetail-con .leftBar .leftBar-con button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: var(--color-main-point);
  color: var(--color-light-text);
}

.content .movieDetail .movieDetail-con .leftBar .leftBar-con .movie-info {
  padding: 30px;
  box-sizing: border-box;
}

.content .movieDetail .movieDetail-con .content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  flex: 3 0 500px; /* 사이드바의 최소 너비 설정 */
  width: 75%;
  box-shadow: 0 4px 15px var(--color-shadow);
  transition: box-shadow 0.5s ease;
}

body.dark .content .movieDetail .movieDetail-con .content {
  background-color: var(--color-dark-3);
}


.content .movieDetail .movieDetail-con .content>.video-container {
  width: 100%;
}

.content .movieDetail .movieDetail-con .content>ul {
  display: grid;
  gap: 10px;
  overflow-x: auto; /* 가로 스크롤 가능하도록 */
  overflow-y: hidden; /* 세로 스크롤 숨김 */
  box-sizing: border-box;
  padding: 10px 0;
  margin: 0;
  width: 100%;
  max-width: 100%; /* 부모 너비에 맞추기 */
}


.content .movieDetail .movieDetail-con .content>ul>li {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.content .movieDetail .movieDetail-con .content>ul>li>img {
  width: 100%;
  max-width: 300px;
  min-width: 300px;
  height: auto;
  position: static;
  object-fit: cover;
  box-sizing: border-box;
  transition: all 0.5s ease;
  transform-origin: center center;
}

.content .movieDetail .movieDetail-con .content>ul>li>img:hover {
  transform: scale(1.03);
}