@import url('../css/MainContent.css');

.movie-title {
  display: flex;
  align-items: center;
}

.date_type {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.date_type .region_select {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  box-sizing: border-box;
}

.date_type .region_select button {
  width: 100%;
  padding: 15px 10px;
  border-radius: 8px;
  color: var(--color-light-text);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border:none;
  box-sizing: border-box;
}

.date_type .left_date {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.date_type .cinema_select {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  box-sizing: border-box;
}

.date_type .cinema_select button {
  width: 100%;
  padding: 15px 10px;
  border-radius: 8px;
  color: var(--color-light-text);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border:none;
  box-sizing: border-box;
}

.date_type .left_date {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.date_type .cinema_select button.selected {
  background-color: var(--color-main-point);
}

.date_type .left_date button {
  width: 100%;
  padding: 15px 10px;
  border-radius: 8px;
  color: var(--color-light-text);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border:none;
  box-sizing: border-box;
}

.date_type .left_date button:hover {
  background: var(--color-main-point) !important;
  color: var(--color-light-text) !important;
}

body.dark .date_type .left_date button{
  background-color: var(--color-dark-2);
  color: var(--color-dark-text);  
}

body.light .date_type .left_date button{
  background-color: var(--color-light-2);
  color: var(--color-light-text);
}

.date_type .left_date  button.selected {
  background: var(--color-sub-point) !important;
}

body.dark .date_type .left_date  button.selected {
  color: var(--color-light-text);
}

.date_type .right_time ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.date_type .right_time ul > li > button {
  width: 100%;
  padding: 15px 10px;
  border-radius: 8px;
  color: var(--color-light-text);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border:none;
  box-sizing: border-box;
}

.date_type .right_time ul > li button:hover {
  background: var(--color-main-point) !important;
}
.date_type .right_time ul > li button:hover > span {
color: var(--color-light-text) !important; 
}

body.dark .date_type .right_time ul > li button{
  background-color: var(--color-dark-2);
  color: var(--color-dark-text);  
}

body.light .date_type .right_time ul > li button{
  background-color: var(--color-light-2);
  color: var(--color-light-text);
}

.date_type .right_time ul > li  button.selected {
  background: var(--color-sub-point) !important;
}

body.dark .date_type .right_time ul > li  button.selected {
  color: var(--color-light-text);
}