.seat-selection-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.seat-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.screen {
    width: 80%;
    height: 30px;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 20px;
}

.seat-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.seat-row {
    display: flex;
    gap: 8px;
}

.seat {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.3s;
}

/* 사용 가능한 좌석 */
.seat.available {
    background-color: #ffffff;
    color: black;
}

.seat.available:hover {
    background-color: #ddd;
    color: black;
    border: 1px solid #4caf50;
    transition: 0.3s;
}

/* 선택된 좌석 */
.seat.selected {
    background-color: #4caf50;
    color: white;
    border: 2px solid #388e3c;
    font-weight: bold;
}

.seat.disabled {
    background-color: #333333;
    color: white;
    cursor: not-allowed;
    opacity: 0.6;
    position: relative;
    /* 의사 요소가 상대적으로 위치하도록 설정 */
    display: flex;
    /* X 표시를 중앙에 위치 */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* 넘치는 내용 숨김 */
}

/* 예약된 좌석에 X 표시 */
.seat.disabled::before {
    content: "X";
    font-size: 1.4rem;
    /* 크기 조정 */
    font-weight: bold;
    color: red;
    position: absolute;
    /* 좌석의 중앙에 위치 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    pointer-events: none;
    /* X 표시 클릭 불가능 */
}


.seat.disabled:hover {
    background-color: #555555;
    border: 1px solid red;
    transition: 0.3s;
}

.selected-seats {
    margin-top: 20px;
    text-align: center;
}

.selected-seats h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.selected-seats p {
    font-size: 1.2rem;
    color: #333;
}

.cart-go {
    margin-top: 20px;
}

.cart-go button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 12px;
}