.seat-selection-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.seat-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.screen {
    width: 80%;
    height: 30px;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 20px;
}


.seat-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}


.seat-row {
    display: flex;
    gap: 8px;
}


.seat {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.3s;
}


.seat.available {
    background-color: #ffffff;
    color: black;
}

.seat.available:hover {
    background-color: #ddd;
    color: black;
    border: 1px solid #4caf50;
    transition: 0.3s;
}


.seat.selected {
    background-color: #4caf50;
    color: white;
    border: 2px solid #388e3c;
    font-weight: bold;
}

.seat.disabled {
    background-color: #333333;
    color: white;
    cursor: not-allowed;
    opacity: 0.6;
}

.seat.disabled::before {
    content: "X";
    display: block;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    color: red;
}


.selected-seats {
    margin-top: 20px;
    text-align: center;
}

.selected-seats h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.selected-seats p {
    font-size: 1.2rem;
    color: #333;
}


.cart-go {
    margin-top: 20px;
}

.cart-go button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart-go button:hover {
    background-color: #388e3c;
}